@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --logo-color-right: rgb(167, 51, 51);
    --logo-color-left: rgb(77, 156, 68);
    --link-color: rgb(72, 219, 104);
}

body{
    background: #fffdfd;
    margin:0;
    font-family: 'Poppins';
}

.navbar{
    background: rgba(220, 236, 127, 0.863) url(../images/3.jpg);
    padding: 1em;
    text-align: center;
    padding-bottom: 4em;

        .logo{
            color: var(--logo-color-left);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4em;  

                span{color: var(--logo-color-right);}
    
        }

nav{
    display:none;
}
        
        .container{
            display: flex;
            place-content: space-between ;
        }
        
        .mobile-menu{
            cursor:pointer;
        }
    
}

a {color: rgb(97, 95, 95);}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding:5em 2em;
}
.hero{
    text-align: center;
}
.left-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
        color: rgb(139, 98, 98);
        letter-spacing: 0.25em;
    }

    .logo{ 
        color: var(--logo-color-left);
        text-decoration: none;
        font-weight:bold;
        font-size: 4em;  

            span{color: var(--logo-color-right);}
    }

    h1{
        font-size: 2.5em;
        line-height: 1.3em;
        margin-top: 0.2em;
    }

    .primary-cta{
        background: var(--link-color);
        color:white;
        text-decoration: none;
        padding:0.8em 1.8em;
        font-size: 1.3em;
        border-radius:5em;
        font-weight: bold;
        display:inline-block;
    }

    .watch-video-cta{
        display:block;
        margin-top: 2em;
    }
    
    img {margin-right: 0.75em;}  
}

.hero-img{ 
    width: 70%;
    margin-top: 3em;
}

section.features-section{
    background:rgba(29, 45, 75, 0.705);
    color: whitesmoke;

}




ul.features-list{
    margin: 0;
    padding-left: 0.1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

    li{
        font-size: 1.1em;
        margin-bottom: 1.2em;
        margin-left: 2em; 
        position: relative;

        &:before {
            content:'';
            left: -2em;
            position:absolute;
            width: 25px;
            height: 25px;
            background-image: url('../images/bullet.svg');
            background-size: contain;
            margin-right: 0.5em;

        }
    }
}

.features-section img{
    display: none;
}

section.testimonials-section{
    background-color: rgba(93, 133, 13, 0.644);
    color: white;

        li{
            background-color: rgba(93, 133, 13, 0.514);
            text-align: center;
            padding: 2em 1em;
            width:45%;
            margin: 0 auto 5em auto;
            border-radius: 1em;
            margin-bottom: 8em;

            //this is for placing space between the quote and the name (Jeff Thomas)
            p{
                margin-bottom: 3em;
            }

            img{
                width: 5em;
                height: 5em;
                border: 8px solid rgba(93, 133, 13, 0.514);
                border-radius: 30%;
                margin-top: -4.5em;
            }
        }
        
}

h2{
    font-size: 2em;
}

label{
    display:block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, textarea{
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1.5px solid gray;
    box-sizing: border-box;  
}

input[type="submit"]{
    background-color: var(--link-color);
    color:white;
    font-weight: bold;
    font-size: 1.2em;
    border:none;
    margin-bottom:5em;
    border-radius: 5em;
    display: inline-block;
    padding:0.8em 1.5em;
    width:unset;
    cursor:pointer;
}

iframe{
    width:100%;
    height:300px;
}

//need to clarify the btn portion
nav.menu-btn{
    display: block;
}

nav{
    position:fixed;
    z-index: 999;
    width: 30%;
    right:0;
    top:0;
    background: rgba(29, 45, 75, 0.85);
    height: 100vh;
    padding:1em;

    ul.primary-nav{
        margin-top:4em;
    }
    
    li{
        a{
            color:white;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            font-size: 1.3em;
            text-align: left;
    
            &:hover{
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: 0.5em;
    cursor: pointer;
}

@media only screen and (min-width:768px){
    .mobile-menu, .mobile-menu-exit{
        display:none;
    }

    .navbar .container{
        
        display: grid;
        grid-template-columns: 180px auto;
    }

   //to comeback to this
    .logo {
        text-align: left;
    }


    .navbar nav{

        position: fixed;
        transition: top 0.5s ease-in-out;
        display:flex;
        justify-content: space-between;
        background: none;
        height: auto;
        width: 100%;
        padding: 0.15em;

        ul{
            display: flex;
        }

        a{
            color: black;
            font-size: 1em;
            padding: 0.1em 1em;
        }

        ul.primary-nav{
            margin:0.5em 1em;
        }

        ul.secondary-nav{
            .go-premium-cta{
                margin: -0.11em;
            }
            margin:0.5em ;
        }
        li.current a{
            font-weight: bold;
        }

        li.go-premium-cta a {
            color: rgb(49, 48, 48);;
            border:3px solid (white);
            font-weight: bold;
            border-radius: 5em;

            &:hover{
                background:var(--link-color);
                color: white;
            }
        }
    }
}

@media only screen and (min-width:1080px){
    .container{
        width:1080px;
        margin: 0em auto;
    }

    section{
        padding: 8em 2em;
    }

    .hero .container{
        display:flex;
        justify-content: space-between;
        text-align:center;

        .left-col{
            margin: 1em 2em;
            .logo{
            text-align: left;
            }

            .subhead{
                text-align:left;
            }

            h1{
                font-size:3em;
                width:90%;
                text-align: right;
            }

            .hero-cta{
                text-align: right;
                margin-right: 2em;

                .watch-video-cta{
                text-align: right;
                margin-right: 0.8em;}
            }
        }
    
    }

    .features-section {
        position: relative;

        ul.features-list{
            display: block;
            margin-left: -12em;
            
            li{
                font-size: 1.4em;

                &:before {
                    width: 30px;
                    height: 30px;
                }
            }
        } 
    }

    .features-section img {
        display: block;
        position: absolute;
        margin: 0 50em;
        width: 800px;
        bottom: -1.5em;
        border-radius: 1em;
        flex-grow: initial;
    }

    .testimonials-section ul{
        display: flex;

        li{
            margin: 0 1em;
        }
    }

    .contact-section {
        position: relative;

        .container{
            display: flex;
        }    

        .contact-left{
            width:55%;
            margin: -5em -15em 15em;
        }
        .contact-right{
            position: absolute;
            right: 1em;
            top: 0;
            width: 38%;
            height: 100%;
        
            iframe {
                height:100%
            }
        }        
        

    }

.features-section {

        &:before {
            content: '';
            position:absolute;
            width: 10em;
            height: 20em;
            background: rgb(66, 84, 114);
            left: -1em;
            top: -6em;
            border: 4px solid;
        }

        &:after {
            content: '';
            position:absolute;
            color: solid;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 7.2em;
            top: 1.3em;
        }
 }
}
